@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
#slider-3 H1 {
  color: #ffffff;
  text-align: left;
}
#slider-3 P {
  color: #ffffff;
  text-align: left;
  font-size: 30px;
}
#slider-3 B {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-0 .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-4 .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-4 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-8 .mbr-brand__name {
  font-size: 16px;
}
#menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-8 .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-6 .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-c P {
  font-size: 17px;
}
#menu-g .mbr-brand__name {
  font-size: 16px;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-g .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-k .mbr-brand__name {
  font-size: 16px;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-k .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#content1-m DIV {
  color: #000000;
}
#menu-o .mbr-brand__name {
  font-size: 16px;
}
#menu-o.mbr-navbar--stuck .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-o .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-o .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-s .mbr-brand__name {
  font-size: 16px;
}
#menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-s .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-s .mbr-navbar__hamburger {
  color: #ffffff;
}

#header3-12 H3 {
  font-family: 'Open Sans', sans-serif;
}
#menu-x .mbr-brand__name {
  font-size: 16px;
}
#menu-x.mbr-navbar--stuck .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-x .mbr-navbar__section {
  background: #f8f7f2;
}
#menu-x .mbr-navbar__hamburger {
  color: #ffffff;
}
